USE [master]
GO
/****** Object:  Database [UserLoginDB]    Script Date: 04.09.2019 18:25:01 ******/
CREATE DATABASE [UserLoginDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UserLoginDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\UserLoginDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UserLoginDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\UserLoginDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserLoginDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserLoginDB]
GO
/****** Object:  Table [dbo].[User]    Script Date: 04.09.2019 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[PASSWORD_CONTROL]    Script Date: 04.09.2019 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PASSWORD_CONTROL] 
   @PASSWORD VARCHAR(10)
AS 
BEGIN 
   IF EXISTS(SELECT *from [dbo].[User]
    WHERE Password = @PASSWORD)
	 select 1
	ELSE
  select 0  

END
GO
USE [master]
GO
